[submodule "third-party/openvr"]
	path = third-party/openvr-1.0.2
	url = https://github.com/ValveSoftware/openvr.git
[submodule "third-party/spdlog"]
	path = third-party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third-party/glm"]
	path = third-party/glm-0.9.8.0
	url = https://github.com/g-truc/glm.git
[submodule "third-party/json"]
	path = third-party/json
	url = https://github.com/nlohmann/json.git
[submodule "third-party/libcds"]
	path = third-party/libcds
	url = https://github.com/khizmax/libcds.git
[submodule "third-party/IconFontCppHeaders"]
	path = third-party/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
[submodule "third-party/DirectXTex"]
	path = third-party/DirectXTex
	url = https://github.com/Microsoft/DirectXTex.git
[submodule "third-party/assimp"]
	path = third-party/assimp
	url = https://github.com/assimp/assimp.git
[submodule "third-party/recastnavigation"]
	path = third-party/recastnavigation
	url = https://github.com/recastnavigation/recastnavigation.git
